# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Django specific
db.sqlite3
*.log

# Media and static files (optional in dev)
media/

# Environment variables
.env

# IDE configurations
.vscode/
*.swp

project_dump.json
