{% extends 'base.html' %}

{% block title %} | Register Your Car {% endblock %}
{% block content %}

{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Register Your Car at SPYNE</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{% if form.instance.pk %} Edit Car {% else %} Create Car {% endif %}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Form Start -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="form-wrapper">
                <h2 class="form-title text-center">
                    {% if form.instance.pk %}
                        Edit Car
                    {% else %}
                        Create Car
                    {% endif %}
                </h2>
                <form method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group text-center mt-3">
                        <button class="btn btn-warning btn-lg" type="submit">
                            {% if form.instance.pk %} Update {% else %} Submit {% endif %}
                        </button>
                        <a href="{% url 'cars' %}" class="btn btn-secondary btn-lg ml-2">Back to Car List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

{% endblock %}
